//---colors
$blue:  #3cb2d0;
$fontgrey:#817f7f;
$dategrey:#bdc3c7;
$backgrey:#f2f5f8;
$darkgrey:#3b3b3b;
$col_grey:#4a4a4a;

//---fontsize
$fonttopic:20px;
$fontheading:17px;
$fonttext:14px;


